input {
  padding: 0.5em;
  border-radius: 20px;
  border: 1px solid black;
}

button {
  border-radius: 20px;
  border: 1px;
  color: white;
  background-color: black;
  padding: 0.5em;
}

input,
button {
  display: inline-block;
}

li {
  list-style: none;
}
